@page {
  size: letter;
  margin: 0in;
}

html {
  font-size: 11pt;
}

a[href]::after {
  content: "";
}

section {
  page-break-inside: avoid;
  margin-bottom: 1.2rem;
}

header {
  padding: 0.5in;
}

header {
  padding-bottom: 0.5rem;
}

.header-info {
  margin-top: 0;
}

main,
aside,
footer {
  padding: 2rem;
}

main {
  padding-left: 0.5in;
  padding-bottom: 0.5in;
}

.section-title {
  display: flex;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 1rem;
  border-bottom: 2px solid #444;
}


aside {
  padding-right: 0.5in;
  padding-bottom: 0.5in;
}

.page-header,
.page-footer {
  background: #fff;
}

.flex-responsive {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

aside {
  border-top: none;
  border-left: 1px solid #ccc;
}

aside h1 {
  font-size: 1.4rem;
}

aside h2 {
  font-size: 1.1rem;
}

aside h3 {
  font-size: 1rem;
}

aside h4 {
  font-size: 1rem;
}

aside h5 {
  font-size: 1rem;
}

aside h6 {
  font-size: 1rem;
}

.page-content .container {
  display: grid;
  grid-template-columns: 1fr;
}

.header-top {
  gap: 2rem;
}
.header-info h1 {
  border-bottom: 1px solid #ccc;
}

.page-header ul {
  margin: 0.5rem 0;
}

.inline-list {
  flex-direction: row;
  justify-content: center;
  gap: var(--spacing-inline);
}

.inline-list li:not(:last-child)::after {
  content: "|";
  margin-left: var(--spacing-inline);
  color: #ccc;
}

.header-urls {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

/* EDUCATION */
.section-item {
  margin-left: 1.5rem;
}
.section-item-title{
  font-style: italic;
  font-weight: 700;
  /* font-family: "Nunito" */
}
.section-item-computer-skills {
  margin-left: 1.5rem;
}
/* .section-item-computer-skills ul{
  gap: 0.25rem;
} */
.section-item-computer-skills-list {
  list-style: disc;
  margin-left: 2.5rem;
}
.section-item-computer-skills-list li {
  margin-left: 1.5rem;
  gap: 0.25rem;
}
.section-item-computer-skills-title {
  margin-left: 0.5rem;
  font-style: italic;
  font-weight: 700;
}
.section-item-computer-skills-desc{
  margin-left: 0.5rem;
  font-style: italic;
}

/* WORK EXPERIENCE */
.tbl-work-experience{
  margin-left: 1.5rem;
}
.tbl-work-experience tr{
  margin-bottom: 0.5rem;
  display: inline-table;
}
.section-job-year{
  /* display: flex; */
  width: 7.5rem;
  /* align-items: right; */
  text-align: right;
  vertical-align: top;
  color: gray;
}
.section-job-description{
  text-align: left;
}
.section-job-position{
  text-align: left;
  font-weight: 700;
}

.publication-title {
  font-style: italic;
}
.presentation-title{
  font-style: italic;
}